.App {
  text-align: center;
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
    color: white;
}

.App-link {
  color: #61dafb;
}

.photo {
    height: 200px;
    width: 200px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: black;
    text-align: center;
    color: white;
}

.form {
    border-color: #ccc;
    border-width: 1px;
    padding: 16px;
}

.submit_button {
    background-color: #0056ff;
    padding-top: 0px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    color: white;
    border: none;
    float: left;
}
.cancel_button {
    background-color: red;
    padding-top: 0px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 5px;
    font-size: 18px;
    color: white;
    border: none;
    float: left;
}
.input_box {
    font-size: 18px;
    padding-bottom: 12px;
    margin-bottom: 36px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.social_icon {
    width: 280px;
    height: 170px;
    padding-left: 40px;
    position:center;
    margin: auto;
}

#input_wrapper {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.input_container {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.form_style {
    background-color: white;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid #ccc;
}

.form_heading {
    font-size: 32px;
    padding-top: 56px;
    padding-bottom: 32px;
}

#social_wrapper {
    background-color: #f2f6ff;
    padding: 24px;
}

.succeed {
    color: green ;
    font-weight: bold;
}
.defeat {
    color: red ;
    font-weight: bold;
}
#username-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
}
#firstname-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
}
#surname-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
}
#password-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
}
#confirmPassword-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
}
#auth-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
}
#discount-info {
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#notNullFields-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#item-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#client-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#name-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#description-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#price-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#url-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#surname2-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#tel-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#email-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#state-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#street-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#city-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#zip-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#children-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#age-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#job-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
#user-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: none;
    text-align: center;
}
.tlo_color {
    background-color: deepskyblue;
    height: 100%;
    width: 100%;
}
.tlo_color_fixed {
    background-color: deepskyblue;
    height: 100%;
    position: fixed;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior:auto;
}
.xtlo_color {
    background-color: deeppink;
}
.table_color{
    background-color: aliceblue;
}
.table_color2 {
    background-color: aliceblue;
}
/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}